@model IEnumerable<department>
@{
    ViewBag.Title = "department data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>department data</h2>
<table class="table-bordered table-responsive">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.dept_id)</th>
            <th>@Html.DisplayNameFor(m => m.dept_name)</th>
            <th>operations</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <th>@s.dept_id</th>
                <th>@s.dept_name</th>
                <td>
                    @Ajax.ActionLink("Details", "details", "department", new { id = s.dept_id }, new AjaxOptions { UpdateTargetId = "details", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-info" })
                    @Html.ActionLink("edit", "edit", "department", new { id = s.dept_id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "delete", "department", new { id = s.dept_id }, new { @class = "btn btn-danger" })
                </td>

            </tr>
        }
    </tbody>
</table>
<div id="details" class="container "></div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
