@model lab4MVC.Models.login

@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>login</h2>
@using (Html.BeginForm())
{
<input hidden type="text" name="turl" value="@ViewBag.turl" />
    @Html.ValidationSummary(true)
    @Html.LabelFor(a => a.username)
    @Html.EditorFor(a => a.username)
    @Html.ValidationMessageFor(a => a.username)
    <br />
    @Html.LabelFor(a => a.password)
    @Html.EditorFor(a => a.password)
    @Html.ValidationMessageFor(a => a.password)
    <br />
    
    <input type="submit" value="login" />
}

